nav ul{
	top: auto;
	left: auto;
}

#about-me-wrap{
	nav ul{
		top: 20px;
		left: 470px;
		height: 260px;
		.transformHW(translate(0, 0));
		li{
			.transformTransition(500ms ease);
		}
		li.about-me,
		li.my-works,
		li.photos{
			display: block;
		}

	}
	nav ul:hover,
	.touch #about-me-wrap nav ul{
		width: 700px;
	}
	nav:hover ul li.my-works,
	.touch #about-me-wrap nav ul li.my-works{
		.transformHW(translate(230px, 0) rotate(-5deg));
	}
	nav:hover ul li.photos,
	.touch #about-me-wrap nav ul li.photos{
		.transformHW(translate(460px, 0) rotate(10deg));
	}	

}

.no-csstransforms #about-me-wrap nav:hover ul li.my-works,
.no-csstransforms.touch #about-me-wrap nav ul li.my-works{
	left: 230px;
}
.no-csstransforms #about-me-wrap nav:hover ul li.photos,
.no-csstransforms.touch #about-me-wrap nav ul li.photos{
	left: 460px;
}

#photos-wrap{
	nav ul{
		width: 380px;
		height: 128px;
		padding-left: 23px;
		margin: 0 0 0 160px;
		background: transparent url('/img/workspace/filmstrip.png') no-repeat 0 0;
		.transformHW(rotate(-3deg));
		li{
			background: transparent;
			width: 102px;
			margin: 25px 5px 0 0;
			height: 72px;
			position: relative;
			float: left;
			overflow: hidden;
			.rotation(0deg);
			&:hover{
				.grayscale(0%);
			}
			&.about-me,
			&.my-works,
			&.photos{
				display: block;
			}
			a{
				padding: 0;
			}
			a span{
				display: none;
			}
			a img{
				width: 100%;
				height: 100%;
				margin: 0;
			}
			a img:hover{
				.grayscale(100%);
			}	
		}
	}
}

