#main{
	width: 6000px;
}
section{
	width: 2000px;
}
section article{
	width: 800px;
	margin: 40px auto;
}
img.big{
	width: 70%;
}
img.small{
	width: 29%;
	margin-bottom: 10px;
}
section.photos article ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
section.photos article ul li{
  float: left;
}
section.photos article img{
	width: 200px;
	margin: 10px;
}