#main{
	width: 4500px;
}
section{
	width: 1500px;
}
section aside{
	display: block;
	position: absolute;
}
section article{
	width: 600px;
	margin: 40px auto;
}
img.big{
	width: 70%;
}
img.small{
	width: 29%;
	margin-bottom: 10px;
}
section.about-me article{
	margin-top: 300px;
}
section.about-me article > div{
 .border-radius(0, 0, 170px 16px, 0);
}
section.my-works article{
	width: 800px;
}
section.photos article ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
section.photos article ul li{
  float: left;
}
section.photos article img{
	width: 200px;
	margin: 10px;
}