section{
	position: relative;
	float: left;
	width: 33.33%; 
	-webkit-overflow-scrolling: touch;
}
section article{
	position: relative;
	margin: 20px;
}	
section article::before,
section article::after{
	content: '';
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 2px;
	left: 2px;
	border: 1px solid #fafafa;
	background: #fafafa;
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset);
	.rotation(1deg);
}
section article::after{
	.rotation(-1deg);    
}
section article > div{
	z-index: 2;
	padding: 20px;
	position: relative;
	background: #fafafa;
	border: 1px solid #fafafa;
	.border-radius(0, 170px 16px, 0, 0);
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset);
	font-size: 1em;
}
section article h1{
  font-size: 1.5em;
}
section article h2{
  font-size: 1.3em;
}
section article h3{
  font-size: 1.1em;
}
section article ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
section article ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
section.my-works article ul li{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
section.my-works article ul li img{
	width: 100%;
	height: auto;
}
section.my-works article ul li p{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1%;
	z-index: 2;
	color: white;
	background-color: rgba(0,0,0,.7);
	display: block;
	width: 100%;
	font-size: 0.8em;
}
.no-touch section.my-works article ul li p{
	.transformTransition(500ms ease);
	.transform(translate(0, 100%));
}
.no-touch section.my-works article ul li:hover p{
	.transform(translate(0, 0));
}
.no-csstransforms.no-touch section.my-works article ul li p{
	bottom: -100%;
}
.no-csstransforms.no-touch section.my-works article ul li:hover p{
	bottom: 0;
}