aside.macbook{
	width: 308px;
	height: 336px;
	background: transparent url('/img/workspace/macbook.png') no-repeat bottom right;
	top: 0;
	left: 0;
}
aside.coffee{
	width: 308px;
	height: 396px;
	background: transparent url('/img/workspace/coffee.png') no-repeat bottom right;
	top: 400px;
	left: 0;
}