aside{
	display: block;
	position: absolute;
	&.macbook{
		width: 470px;
		height: 345px;
		background: transparent url('/img/workspace/macbook.png') no-repeat top left;
		top: 0;
		left: 0;
	}
	&.coffee{
		width: 308px;
		height: 396px;
		background: transparent url('/img/workspace/coffee.png') no-repeat bottom right;
		top: 400px;
		left: 0;
		.social{
			width: 70px;
			height: 70px;
			position: absolute;
			background: transparent url('/img/sprite.png') no-repeat 0 0;
			display: block;
			overflow: hidden;
			&.linkedin{
			  top: 375px;
				left: 39px;
				.transformTransition(500ms ease);
				.transformHW(rotate(30deg));
			}
			&.linkedin:hover{
				.transformHW(rotate(-5deg));
			}
			&.facebook{
			  top: 240px;
			  left: 50px;
			  background-position: -65px 0;
			}
			&.twitter{
			  top: 400px;
			  left: 120px;
			  background-position: -140px 0;
			}
			&.lastfm{
			  top: 413px;
				left: 165px;
				background-position: -211px 0
			}
		}
	}
	&.macbook .social.github{
		width: 100px;
		height: 100px;
	  top: 135px;
		left: 325px;
		background-position: -109px -72px;
		z-index: 2;
		.rotation(-10deg);
	}
	&.book{
		width: 550px;
		height: 615px;
		background: transparent url('/img/workspace/book.png') no-repeat;
		top: 0;
		right: 0;
		margin-right: -220px;
	}
	&.iphone{
		width: 180px;
		height: 375px;
		background: transparent url('/img/workspace/iphone.png') no-repeat 0 0;
		overflow: hidden;
		top: 360px;
		left: 90px;
		//.transform(rotate(-1deg));
		.screen{
			position: relative;
			width: 142px;
			height: 250px;
			background: rgba(0,0,0, 0.1);
			top: 58px;
			left: 20px;
			font: 12px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			overflow: hidden;
			.status-bar{
				background: rgba(0,0,0, 0.7);
				color: white;
				height: 12px;
				overflow: hidden;
				.iphone_net {
					position: absolute;
					top: 3px;
					left: -1px;
					width: 19px;
					height: 7px;
					overflow: hidden;
					&::after {
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						display: block;
						width: 3px;
						height: 10px;
						background: #c6c6c6;
						.box-shadow(#c6c6c6 -4px 2px 0, #c6c6c6 -8px 4px 0, #c6c6c6 -12px 6px 0, #c6c6c6 -16px 9px 0);
					}
				}
				
				.iphone_net_title {
					font: bold 10px/10px "Helvetica Neue";
					color: #c6c6c6;
					text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
					text-transform: uppercase;
					position: absolute;
					left: 21px;
					top: 1px;
				}
				.iphone_clock {
					font: bold 10px/10px "Helvetica Neue";
					color: #c6c6c6;
					text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
					text-transform: uppercase;
					position: absolute;
					left: 0;
					top: 1px;
					width: 100%;
					text-align: center;
				}
				.iphone_battery {
					position: absolute;
					height: 8px;
					width: 14px;
					border: 1px solid #c6c6c6;
					.border-radius(1px);
					right: 5px;
					top: 2px;
					&:before {
						content: '';
						position: absolute;
						height: 4px;
						width: 10px;
						background: #c6c6c6;
						left: 1px;
						top: 1px;
					}
					&:after {
						content: '';
						position: absolute;
						height: 2px;
						width: 1px;
						border: 1px solid #c6c6c6;
						right: -3px;
						top: 1px;
					}
				}
			}
			.twitter-bar{
				height: 20px;
				color: white;
				text-align: center;
				font: bold 11px/16px "Arial";
				padding-top: 2px;
				text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.29);
				.gradient(#68b2e6, #267ab5);
				border-bottom: 1px solid #156096;
			}
			.tweets{
				overflow-y: scroll;
				height: 218px;
				list-style: none;
				margin: 0;
				padding: 0 4px;
				background: white;
				li{
					overflow: hidden;
					padding: 4px 0;
					border-bottom: 1px solid #eeeeee;
				}
				.profile-image{
					width: 15%;
					float: left;
					img{
						.border-radius(3px);
					}
				}
				.twitter-content{
					font: bold 10px/11px "Arial";
					width: 82%;
					float: right;
					h4{
						margin: 0;
						font-weight: bold;
						line-height: 9px;
						overflow: hidden;
						white-space: nowrap;
						span{
							font-weight: normal;
							color: #999999;
							text-overflow: ellipsis;
						}
					}
					div{
						padding-top: 2px;
						a{
							color: #2477b3;
						}
					}
				}
			}

		}
	}
	&.nikon{
		width: 400px;
		height: 389px;
		background: transparent url('/img/workspace/nikon.png') no-repeat 0 0;
		overflow: hidden;
		top: 0;
		right: -100px;
	}
}
