* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	
}
html,
body{
	/*min-width: 320px;*/
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	color: #333;
	font-family: 'Droid Serif', 'Georgia';
	background: transparent url('/img/wood.png') repeat;
	/*-webkit-overflow-scrolling: touch;*/
}
body a{
	color: #333;
	text-decoration: none;
}
#main{
	min-height: 100%;
	overflow: hidden;
	background: transparent url('/img/wood.png') repeat;
	.transform(translate3d(0, 0, 0));
	.transformTransition(1200ms ease);
	padding-bottom: 20px;
	position: relative;
	-webkit-overflow-scrolling: touch;
	-webkit-transform-origin: 0 0%;
	.transformOrigin(0% 0%);
	padding: 5000px 100px 0 50px;
	margin: -5000px 0 0 -50px;
}

.no-csstransforms3d #main.about-me{
	left: 0;
}
.no-csstransforms3d #main.my-works{
	left: -100%;
}
.no-csstransforms3d #main.photos{
	left: -200%;
}


section{
	position: absolute;
	.transformOrigin(0% 0%);   
	.transformStyle(preserve-3d);    
}
section article{
	position: relative;
	margin: 20px;
}	
section article::before,
section article::after{
	content: '';
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 2px;
	left: 2px;
	border: 1px solid #fafafa;
	background: #fafafa;
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset);
	.rotation(1deg);
}
section article::after{
	.rotation(-1deg);    
}
section article > div{
	z-index: 2;
	padding: 20px;
	position: relative;
	background: #fafafa;
	border: 1px solid #fafafa;
	.border-radius(0, 170px 16px, 0, 0);
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset);
	font-size: 1em;
}
section article h1{
  font-size: 1.5em;
}
section article h2{
  font-size: 1.3em;
}
section article h3{
  font-size: 1.1em;
}