#my-works-wrap article{
	width: 970px;
	height: 715px;
	background: transparent url('/img/workspace/album.png') no-repeat top center;
	top: 50px;
	left: 0;
	overflow: hidden;
}
#my-works-wrap article > div{
	padding: 0;
	background: transparent;
	border: none;
	.border-radius(0);
	.box-shadow(0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0) inset);
	margin: 90px 85px;
}
#my-works-wrap article:after,
#my-works-wrap article:before{
	display: none;
}