<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>
<li>
	<a href="" class="shadow">
		<img src="/upload/photos/sirava_thumb.jpg" alt="sirava">
	</a>
</li>