	<div class="perform clearfix">
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Livesport Portal</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Perform</p>
				<a href="http://www.livesport.tv">www.livesport.tv</a>
			</div>
		</div>
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Livesport Soccer Site</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Perform</p>
				<a href="http://www.soccer.livesport.tv">www.soccer.livesport.tv</a>
			</div>
		</div>
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Livesport Group Sites</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Perform</p>
				<a href="http://www.onefc.livesport.tv/">www.onefc.livesport.tv/</a>
			</div>
		</div>
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Live Match Centre</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Perform</p>
				<a href="http://www.livematch.goal.com">www.livematch.goal.com</a>
			</div>
		</div>
	</div>

	<div class="facebook clearfix">
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Livesport.tv Facebook App</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Perform</p>
				<a href="https://apps.facebook.com/livesporttvapp">apps.facebook.com/livesporttvapp</a>
			</div>
		</div>
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Goal.com Facebook App</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Perform</p>
				<a href="https://apps.facebook.com/performgoal">apps.facebook.com/performgoal</a>
			</div>
		</div>
	</div>
	<div class="freelancer clearfix">
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Noty na klavir</h5>
				<p>Lorem ipsum dolor sit amen</p>
				<p><span>Company:</span> Freelancer</p>
				<a href="http://notynaklavir.cz/">www.notynaklavir.cz/</a>
			</div>
		</div>
		<div class="work">
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Batax</h5>
				<p>Lorem ipsum dolor sit amen.</p>
				<p><span>Company:</span> Freelancer</p>
				<a href="http://www.batax.sk/">www.batax.sk/</a>
			</div>
		</div>
	</div>