<div class="works1">
	<p>As a perform Employee I was participating on these projects:</p>
	<ul class="clearfix">
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
	</ul>
</div>

<div class="works2">
	<p>As a perform Employee I was participating on these projects:</p>
	<ul class="clearfix">
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
		<li>
			<a href="http://www.socer.livesport.tv">
				<img src="/upload/photos/sirava_thumb.jpg" al="livesport soccer">
			</a>
			<div class="desc">
				<h5>Lorem ipsum dolor sit amen</h5>
				<p>Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen. Lorem ipsum dolor sit amen</p>
				<a href="">www.livesport.tv</a>
			</div>
		</li>
	</ul>
</div>