{% extends 'layout.html' %}

{% block content %}

	<section class="about-me">
		<nav>
			<ul>
				<li class="about-me">
					<a href="#about-me">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						About me
					</a>
				</li>
				<li class="my-works">
					<a href="#my-works">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						My Works
					</a>
				</li>
				<li class="photos">
					<a href="#photos">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						Photos
					</a>
				</li>
			</ul>
		</nav>
		<article>
			<div>
				<h1>About me</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra rutrum sapien. Donec euismod urna a neque venenatis sollicitudin. Fusce sodales mi quis arcu cursus quis semper elit posuere.</p>
				<p> Donec volutpat commodo magna in imperdiet. Aliquam pulvinar imperdiet quam consectetur venenatis. Praesent ornare est id lacus porttitor congue. Vestibulum mollis urna sed nibh condimentum rhoncus eleifend arcu porta. Praesent faucibus, eros id convallis molestie, mi dui fringilla justo, id porta nisi sapien at tortor. Nam mollis lacinia magna egestas pharetra.<p>

				<ul>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum dolorem</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsumdolorem sit amen</li>
					<li>Lorem ipsum</li>
				</ul>

				<p>Etiam viverra semper ante eget sagittis. In aliquet orci ac elit ultrices at fermentum arcu venenatis. Integer fringilla mollis sem, id dapibus augue molestie eu. Aenean suscipit orci eu arcu fringilla et aliquam arcu congue. Suspendisse luctus scelerisque turpis vel semper. Aenean a enim non risus pretium posuere. Donec purus nibh, vehicula a mollis vel, blandit at lectus.</p>
				<p>Nam a turpis neque, vitae luctus turpis. Cras aliquet, nisl vitae cursus convallis, lectus arcu molestie orci, nec molestie turpis leo quis nisl. Cras sagittis lacinia dictum.</p>
			</div>
		</article>
	</section>

	<section class="my-works">
		<nav>
			<ul>
				<li class="about-me">
					<a href="#about-me">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						About me
					</a>
				</li>
				<li class="my-works">
					<a href="#my-works">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						My Works
					</a>
				</li>
				<li class="photos">
					<a href="#photos">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						Photos
					</a>
				</li>
			</ul>
		</nav>
		<article>
			<div>
				<h1>My Works</h1>
				<p>As a perform Employee I was participating on these projects:</p>

				<div class="clearfix">
					<!--
					<img src="/upload/works/livesport-soccer.png" class="big left">
					<img src="/upload/works/livesport.png" class="small right">
					<img src="/upload/works/livesport.png" class="small right">
					-->
				</div>

				<p>Etiam viverra semper ante eget sagittis. In aliquet orci ac elit ultrices at fermentum arcu venenatis. Integer fringilla mollis sem, id dapibus augue molestie eu. Aenean suscipit orci eu arcu fringilla et aliquam arcu congue. Suspendisse luctus scelerisque turpis vel semper. Aenean a enim non risus pretium posuere. Donec purus nibh, vehicula a mollis vel, blandit at lectus. Nam a turpis neque, vitae luctus turpis. Cras aliquet, nisl vitae cursus convallis, lectus arcu molestie orci, nec molestie turpis leo quis nisl. Cras sagittis lacinia dictum.</p>
			</div>
		</article>
	</section>

	<section class="photos">
		<nav>
			<ul>
				<li class="about-me">
					<a href="#about-me">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						About me
					</a>
				</li>
				<li class="my-works">
					<a href="#my-works">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						My Works
					</a>
				</li>
				<li class="photos">
					<a href="#photos">
						<img src="https://graph.facebook.com/daniel.husar/picture?type=large" alt="about me">
						Photos
					</a>
				</li>
			</ul>
		</nav>
		<article>
			<div>
				<h1>Photos</h1>
				<ul class="clearfix">
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sitava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
					<li><a href="/upload/photos/sirava.jpg"><img src="/upload/photos/sirava_thumb.jpg" alt="sirava"></a></li>
				</ul>
			</div>
		</article>
	</section>

{% endblock %}