{% extends 'layout.html' %}

{% block content %}

	<section id="about-me-wrap">
		{% include "_nav.html" %}
		<aside class="macbook">
			<a href="https://github.com/danielhusar" class="social github"  target="_blank"></a>
		</aside>
		<aside class="coffee">
			<a href="https://www.facebook.com/daniel.husar" class="social facebook" target="_blank"></a>
			<a href="http://www.linkedin.com/pub/daniel-husar/58/839/607" class="social linkedin"  target="_blank"></a>
			<a href="https://twitter.com/DanoHusar" class="social twitter"  target="_blank"></a>
			<a href="http://www.last.fm/user/awtt" class="social lastfm"  target="_blank"></a>
		</aside>
		<aside class="book"></aside>
		<article>
			<div>
				<h1>About me</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra rutrum sapien. Donec euismod urna a neque venenatis sollicitudin. Fusce sodales mi quis arcu cursus quis semper elit posuere.</p>
				<p> Donec volutpat commodo magna in imperdiet. Aliquam pulvinar imperdiet quam consectetur venenatis. Praesent ornare est id lacus porttitor congue. Vestibulum mollis urna sed nibh condimentum rhoncus eleifend arcu porta. Praesent faucibus, eros id convallis molestie, mi dui fringilla justo, id porta nisi sapien at tortor. Nam mollis lacinia magna egestas pharetra.<p>

				<ul>
					<li>Lorem ipsum</li>
					<li>Lorem ipsum dolorem</li>
					<li>Lorem ipsum</li>
					<li>Lorem ipsumdolorem sit amen</li>
					<li>Lorem ipsum</li>
				</ul>

				<p>Etiam viverra semper ante eget sagittis. In aliquet orci ac elit ultrices at fermentum arcu venenatis. Integer fringilla mollis sem, id dapibus augue molestie eu. Aenean suscipit orci eu arcu fringilla et aliquam arcu congue. Suspendisse luctus scelerisque turpis vel semper. Aenean a enim non risus pretium posuere. Donec purus nibh, vehicula a mollis vel, blandit at lectus.</p>
				<p>Nam a turpis neque, vitae luctus turpis. Cras aliquet, nisl vitae cursus convallis, lectus arcu molestie orci, nec molestie turpis leo quis nisl. Cras sagittis lacinia dictum.</p>
			</div>
		</article>
	</section>

	<section id="my-works-wrap">
		{% include "_nav.html" %}
		<aside class="iphone"></aside>
		<article>
			<div>
				<h1>My Works</h1>
				{% include "_works.html" %}
			</div>
		</article>
	</section>

	<section id="photos-wrap">
		{% include "_nav.html" %}
		<aside class="nikon"></aside>
		<article>
			<div>
				<h1>Photos</h1>
				<div class="pagination">
					<span data-page="1" class="prev disabled">Previous</span>
					<span data-page="2" class="next">Next</span>
					<input type="hidden" class="total" value="50">
				</div>
				<ul class="clearfix" id="photos-wrap">
					{% include "_photos.html" %}
				</ul>
			</div>
		</article>
	</section>

{% endblock %}