<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
  <meta name="robots" content="index, follow">

  <!-- facebook meta tags -->
  <meta property="og:title" content="Daniel Husar portfolio"/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content="http://www.danielhusar.com" />
  <meta property="og:site_name" content="Daniel Husar" />

  <link rel="canonical" href="http://www.danielhusar.com">

	<title>{% block title %}Daniel Husar{% endblock %}</title>
	<!--
		<link href='http://fonts.googleapis.com/css?family=Lobster|Droid+Serif' rel='stylesheet' type='text/css'>
	-->

	<!--[if (gte IE 9)|!(IE)]><!-->
		<link rel="stylesheet" href="/css/style.css">
	<!--<![endif]-->
	<!--[if (lt IE 9)]>
		<link rel="stylesheet" href="/css/IE.css">
	<![endif]-->

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<script>window.Modernizr || document.write('<script src="/js/libraries/external/modernizr-2.6.2.min.js"><\/script>')</script>
</head>
<body>
	<!--[if lt IE 8]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->
	<div id="overlay"></div>
	<div role="main" id="main" class="about-me">
		{% block content %}{% endblock %}
	</div>



	<!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.9.0.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/libraries/external/jquery.1.9.0.min.js"><\/script>')</script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	  <script src="//code.jquery.com/jquery-2.0.0.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/libraries/external/jquery-2.0.0.min.js"><\/script>')</script>
	<!--[endif]-->

	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.0/lodash.min.js"></script>
	<script>window._ || document.write('<script src="/js/libraries/external/lodash.1.0.0.min.js"><\/script>')</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js"></script>
	<script>window._.str || document.write('<script src="/js/libraries/external/underscore.string.2.3.0.min.js"><\/script>')</script>

	{% if type == 'production' %}
		<script src="/js/packed/plugins.min.js"></script>
		<script src="/js/packed/app.min.js"></script>
	{% else %}
		<script src="/js/libraries/external/routie.js"></script>
		<script src="/js/plugins/jQuery.lazyLoad.js"></script>
		<script src="/js/plugins/jQuery.konami.js"></script>

		<script src="/js/global.js"></script>
		<script src="/js/settings.js"></script>
		<script src="/js/libraries/internal/nav.js"></script>
		<script src="/js/libraries/internal/photos.js"></script>
		<script src="/js/libraries/internal/carousel.js"></script>
		<script src="/js/libraries/internal/twitter.js"></script>
		<script src="/js/events.js"></script>
		<script src="/js/init.js"></script>
		<script src="/js/routes.js"></script>
	{% endif %}

	
</body>
</html>