#photos-wrap{
	height: 100%;
}
#photos-wrap article{
	width: 1000px;
	height: 100%;
	background: transparent;
	top: 0;
	left: 0;
	overflow: visible;
	margin: 0 auto;
}
#photos-wrap article:after,
#photos-wrap article:before,
#photos-wrap article h1{
	display: none;
}
#photos-wrap article > div{
	padding: 0;
	background: transparent;
	border: none;
	.border-radius(0);
	.box-shadow(0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0) inset);
	margin: 0;
}
#photos-wrap article ul{
	list-style: none;
	margin: 0;
	padding: 0 0 0 0;
}
#photos-wrap article ul li,
#photos-wrap article ul li:nth-child(even){
  float: none;
  display: inline-block;
  width: auto;
  margin: 5px;
  .transition(1000ms ease);
  .backface();
}
#photos-wrap article ul li a{
	display: block;
	padding: 5px;
  background: white;
  border: 1px solid #ccc;
}
#photos-wrap article ul li img{
	width: 200px;
}

#photos-wrap .pagination{
	position: absolute;
	left: -150px;
	top: 250px;
	cursor: pointer;
}
#photos-wrap .pagination .prev,
#photos-wrap .pagination .next{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #ccc;
}
#photos-wrap .pagination .next{
	top: 50px;
}
#photos-wrap .pagination .disabled{
	opacity: 0.5;
	cursor: auto;
}



#photos-wrap article ul li:nth-child(1){ .transformHW(rotate(1deg)); margin: 180px 3px 0 1px; }
#photos-wrap article ul li:nth-child(2){ .transformHW(rotate(1deg)); margin: 180px 3px 0 2px; }
#photos-wrap article ul li:nth-child(3){ .transformHW(rotate(-1deg)); margin: 180px 5px 0 5px; }
#photos-wrap article ul li:nth-child(4){ .transformHW(rotate(0deg)); margin: 180px 3px 0 4px; }
#photos-wrap article ul li:nth-child(5){ .transformHW(rotate(0deg)); margin: 0 8px 0 2px; }
#photos-wrap article ul li:nth-child(6){ .transformHW(rotate(-1deg)); margin: 5px 4px 0 1px; }
#photos-wrap article ul li:nth-child(7){ .transformHW(rotate(-1deg)); margin: 1px 1px 0 1px; }
#photos-wrap article ul li:nth-child(8){ .transformHW(rotate(2deg)); margin: 3px 3px 0 3px; }
#photos-wrap article ul li:nth-child(9){ .transformHW(rotate(-1deg)); margin: 4px 6px 0 2px; }
#photos-wrap article ul li:nth-child(10){ .transformHW(rotate(-1deg)); margin: 4px 7px 5px 1px; }
#photos-wrap article ul li:nth-child(11){ .transformHW(rotate(-1deg)); margin: 5 1px 3px 1px; }
#photos-wrap article ul li:nth-child(12){ .transformHW(rotate(1deg)); margin: 5px 0 0 3px; }

#photos-wrap article ul li:hover{
	.transition(200ms ease);
	.transformHW(rotate(0deg));
}

#photos-wrap article ul.slideDown li:nth-child(1){ .transformHW(translate(700px, 500%) rotate(30deg)); }
#photos-wrap article ul.slideDown li:nth-child(2){ .transformHW(translate(500px, 500%) rotate(180deg)); }
#photos-wrap article ul.slideDown li:nth-child(3){ .transformHW(translate(200px, 500%) rotate(-60deg)); }
#photos-wrap article ul.slideDown li:nth-child(4){ .transformHW(translate(0, 500%) rotate(120deg)); }
#photos-wrap article ul.slideDown li:nth-child(5){ .transformHW(translate(900px, 500%) rotate(250deg)); }
#photos-wrap article ul.slideDown li:nth-child(6){ .transformHW(translate(600px, 500%) rotate(-10deg)); }
#photos-wrap article ul.slideDown li:nth-child(7){ .transformHW(translate(400px, 500%)); }
#photos-wrap article ul.slideDown li:nth-child(8){ .transformHW(translate(10px, 500%) rotate(50deg)); }
#photos-wrap article ul.slideDown li:nth-child(9){ .transformHW(translate(1000px, 500%) rotate(-10deg)); }
#photos-wrap article ul.slideDown li:nth-child(10){ .transformHW(translate(600px, 500%) rotate(-60deg)); }
#photos-wrap article ul.slideDown li:nth-child(11){ .transformHW(translate(400px, 500%)); }
#photos-wrap article ul.slideDown li:nth-child(12){ .transformHW(translate(50px, 500%)); }

#photos-wrap article ul.slideUp li:nth-child(1){ .transformHW(translate(700px, -500%) rotate(30deg)); }
#photos-wrap article ul.slideUp li:nth-child(2){ .transformHW(translate(500px, -500%) rotate(180deg)); }
#photos-wrap article ul.slideUp li:nth-child(3){ .transformHW(translate(200px, -500%) rotate(-60deg)); }
#photos-wrap article ul.slideUp li:nth-child(4){ .transformHW(translate(0, -500%) rotate(120deg)); }
#photos-wrap article ul.slideUp li:nth-child(5){ .transformHW(translate(900px, -500%) rotate(250deg)); }
#photos-wrap article ul.slideUp li:nth-child(6){ .transformHW(translate(600px, -500%) rotate(-10deg)); }
#photos-wrap article ul.slideUp li:nth-child(7){ .transformHW(translate(400px, -500%)); }
#photos-wrap article ul.slideUp li:nth-child(8){ .transformHW(translate(10px, -500%) rotate(50deg)); }
#photos-wrap article ul.slideUp li:nth-child(9){ .transformHW(translate(1000px, -500%) rotate(-10deg)); }
#photos-wrap article ul.slideUp li:nth-child(10){ .transformHW(translate(600px, -500%) rotate(-60deg)); }
#photos-wrap article ul.slideUp li:nth-child(11){ .transformHW(translate(400px, -500%)); }
#photos-wrap article ul.slideUp li:nth-child(12){ .transformHW(translate(50px, -500%)); }

